<div ng-controller="AddProjectCtrl">
	<h1>Add Project</h1>
	<form>
		<label for="name">Name</label>
		<input id="name" ng-model="project.name"/>
		<label for="version">Project Version</label>
		<input id="version" ng-model="project.projectVersion"/>
		<button ng-click="doAdd()">Add</button>
	</form>
</div>