<div ng-controller="AddShareholderCtrl">
	<h1>Add shareholder</h1>
	<form>
		<label for="name">Name</label>
		<input id="name" ng-model="shareholder.name"/>
		<label for="surname">Surname</label>
		<input id="surname" ng-model="shareholder.surname"/>
		
		<label for="userName">User name</label>
		<input id="userName" ng-model="shareholder.userName"/>
		<label for="password">Password</label>
		<input id="password" type="password" ng-model="shareholder.password"/>
		
		<label for="role">Role</label>
		<input id="role" ng-model="shareholder.role"/>
		
		<div class="form-group">
			<h6>Assigned projects</h6>
			 <div ng-repeat="p in projects">
			 	<input type="checkbox" value="{{p.id}}" ng-checked="iterateProjectIds(p.id)" ng-click="pushSplice(p.id)"/>
		 		<label for="{{p.name}}">{{p.name}}</label>
	 		</div>
		</div>
		
		<button ng-click="doAdd()">Add</button>
	</form>
</div>