<div ng-controller="BugsCtrl">
	<h1>Bugs</h1>


	<div class="row">
		<div class="col-12 col-sm-4">
			<h3>Add new bug</h3>
			<form name="newBugForm"
				style="padding-left: 20px; padding-right: 20px;"
				class="border border-3">
				<div class="form-group">
					<label for="title">Title</label> <input id="title"
						class="form-control" ng-model="newBug.title" />
				</div>
				<div class="form-group">
					<label for="surname">Description</label>
					<textarea id="surname" class="form-control"
						ng-model="newBug.description" /></textarea>
				</div>
				<div class="form-group">
					<label for="shareH">Creator</label> <select id="shareH"
						class="form-control" ng-model="newBug.createdById">
						<option ng-repeat="sh in shareholders" value="{{sh.id}}">{{sh.name}}
							{{sh.surname}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="userName">Project</label> <select class="form-control"
						ng-model="newBug.projectId">
						<option ng-repeat="p in projects" value="{{p.id}}">{{p.name}}
							{{p.projectVersion}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="severity">Severity</label> <select class="form-control"
						ng-model="newBug.severity">
						<option selected>-</option>
						<option ng-repeat="sev in severities" value="{{sev}}">{{sev}}</option>
					</select>
				</div>

				<button class="btn btn-primary" ng-click="doAdd()">Add</button>
			</form>
		</div>
		<div>
			<h3>Search parameters</h3>
			<div style="padding-left: 20px; padding-right: 20px;"
				class="border border-5">
				<form>
					<div class="form-group">
						<label for="sTitle">Title</label> <input id="sTitle"
							class="form-control" ng-model="search.sTitle" />
					</div>
					<div class="form-group">
						<label for="shareH">Status</label> <select id="shareH"
							class="form-control" ng-model="search.sStatus">
							<option selected>-</option>
							<option ng-repeat="s in statuses" value="{{s}}">{{s}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="userName">Severity</label> <select
							class="form-control" ng-model="search.sSeverity">
							<option selected>-</option>
							<option ng-repeat="sev in severities" value="{{sev}}">{{sev}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="severity">Closed status</label> <select
							class="form-control" ng-model="search.sClosedStatus">
							<option selected>-</option>
							<option ng-repeat="cs in closedStatuses" value="{{cs}}">{{cs}}</option>
						</select>
					</div>
					<button class="btn btn-light" ng-click="doSearch()">Search</button>
				</form>
			</div>
		</div>
	</div>

	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Description</th>
				<th>Created</th>
				<th>Status</th>
				<th>Project</th>
				<th>Severity</th>
				<th>Opened</th>
				<th>Closed</th>
				<th>Closed_Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="b in bugs track by $index">
				<td>{{b.id}}</td>
				<td>{{b.title}}</td>
				<td>{{b.description}}</td>
				<td>{{b.created}}</td>
				<td>{{b.status}}</td>
				<td><a href="/#!/projects/edit/{{b.projectId}}">{{b.projectId}}</a></td>
				<td>{{b.severity}}</td>
				<td>{{b.opened}}</td>
				<td>{{b.closed}}</td>
				<td>{{b.closedStatus}}</td>
				<td>
					<div class="btn-toolbar justify-content-between" role="toolbar">
						<div class="btn-group-vertical btn-group-sm" role="group">
							<button class="btn btn-primary" ng-click="checkState(b)" ng-disabled="b.status == 'CLOSED'">Next Phase</button>
							<button class="btn btn-warning" ng-click="goToEdit(b)">Edit</button>
						</div>
					</div>
					<div modal="showModalIptc" close="cancel()">
						<div class="modal-header">
							<h4>Close bug</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="shareH">Who's closing the bug:</label> 
									<select id="shareH" class="form-control" ng-model="resolve.shareholderId">
										<option selected>-</option>
										<option ng-repeat="sh in shareholders" value="{{sh.id}}">{{sh.name}} {{sh.surname}}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="cStatus">Closed with status:</label> <select
										id="cStatus" class="form-control" ng-model="resolve.cStatus">
										<option selected>-</option>
										<option ng-repeat="cs in closedStatuses" value="{{cs}}">{{cs}}</option>
									</select>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" ng-click="ok(b)">Okay</button>
							<button class="btn" ng-click="cancel()">Cancel</button>
						</div>
					</div>
				</td>
			</tr>
		</tbody>

	</table>
</div>