<div ng-controller="EditShareholderCtrl">
	<h1>Edit shareholder</h1>

	<form name="editShHoldForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" ng-model="shareholder.name"/>
		</div>
		<div class="form-group">
			<label for="surname">Surname</label>
			<input id="surname" ng-model="shareholder.surname"/>
		</div>
		<div class="form-group">
			<label for="userName">User name</label>
			<input id="userName" ng-model="shareholder.userName"/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input id="password" type="password" ng-model="shareholder.password" ng-required="true"/>
		</div>
		<div class="form-group">
			<label for="role">Role</label>
			<input id="role" ng-model="shareholder.role"/>
		</div>
		<div class="form-group">
			<h6>Assigned projects</h6>
			 <div ng-repeat="p in projects">
			 	<input type="checkbox" value="{{p.id}}" ng-checked="iterateProjectIds(p.id)" ng-click="pushSplice(p.id)"/>
		 		<label for="{{p.name}}">{{p.name}}</label>
	 		</div>
		</div>
		<div class="form-group">
			<button ng-disabled="editShHoldForm.$invalid" ng-click="doEdit()">Edit</button>
		</div>
	</form>
</div>