<div ng-controller="EditProjectCtrl">
	<h1>Project</h1>

	<form>
		<label for="name">Name</label>
		<input id="name" ng-model="project.name"/>
		<label for="version">Project Version</label>
		<input id="version" ng-model="project.projectVersion"/>
		<button ng-click="doEdit()">Edit</button>
	</form>
</div>