<div ng-controller="HomeCtrl">
	<h1>{{message}}</h1>
	<div ng-show="authenticated">
		<p>The ID is {{greeting.id}}</p>
		<p>The content is {{greeting.content}}</p>
	</div>
	<!-- 
	<div ng-show="!authenticated">
		<p>Login to see your greeting</p>
	</div>
	<div>
		<ul role="tablist">
			<li><a href="/#!/login">Login</a></li>
			<li><a href="/#!/registration">Register</a></li>
			<li ng-show="authenticated"><a href="" ng-click="logout()">Logout</a></li>
		</ul>
	</div>
	-->
</div>