<div ng-controller="ProjectsCtrl">
	<h1>Projects</h1>

	<button class="btn btn-primary" ng-click="goToAdd()">Add</button>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Project Version</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in projects track by $index">
				<td>{{p.id}}</td>
				<td>{{p.name}}</td>
				<td>{{p.projectVersion}}</td>
				<td>
					<button class="btn btn-warning" ng-click="goToEdit(p.id)">Edit</button>
					<button class="btn btn-danger" ng-click="doDelete(p.id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>