<div ng-controller="ShareholdersCtrl">
	<h1>Shareholders</h1>

	<button class="btn btn-primary" ng-click="goToAdd()">Add</button>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>User name</th>
				<th>role</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="sh in shareholders track by $index">
				<td>{{sh.id}}</td>
				<td>{{sh.name}}</td>
				<td>{{sh.surname}}</td>
				<td>{{sh.userName}}</td>
				<td>{{sh.role}}</td>
				<td>
					<button class="btn btn-warning" ng-click="goToEdit(sh.id)">Edit</button>
					<button class="btn btn-danger" ng-click="doDelete(sh.id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>